
@import '../bower_components/foundation/scss/foundation';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

footer {
    position:fixed;
    bottom:0;
    margin: 0;
    background-color: #f2f2f2;
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0 15px;
        padding: 0;
    }
}

.view-content {
    padding: 15px;
}

button:focus, .button:hover, .button:focus {
    outline: 0px;
}


.welcome {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    h1{
        text-align: center;
    }
}
