<div ng-controller="RetrospectivesCtrl as retroCtrl" class="retrospectives">
  <h1>Retrospectives:</h1>

  <div ng-if="retros.length">
    <table class="table table-condensed">
      <tr>
        <th>Retrospective</th>
        <th>Time</th>
      </tr>
      <tr ng-repeat="retro in retros">
        <td>{{retro.name}}</td> <td>{{retro.date}}</td>
      </tr>
    </table>
  </div>

  <h4 ng-if="!retros.length">
    No Retrospectives - schedule one below!
  </h4>


  <form name="new-retro" ng-submit="retroCtrl.addRetro()" role="form">
    <div class="form-group">
      <input ng-model="newRetro.name" placeholder="Enter a label" required/>
    </div>
    <div class="form-group">
      <input ng-model="newRetro.date" placeholder="Date" type="date" required min={{minDate}} />
    </div>

    <button id="new-retro-submit" type="submit" class="btn btn-primary">Create</button>
  </form>

</div>

