<div ng-controller="RetrospectivesCtrl as retroCtrl" class="retrospectives">
  <h1>Retrospectives:</h1>

  <div ng-if="retros.length">
    <table class="table table-condensed">
      <tr>
        <th>Retrospective</th>
        <th>Time</th>
      </tr>
      <tr ng-repeat="retro in retros">
        <td>{{retro.label}}</td> <td>{{retro.start}}</td>
      </tr>
    </table>
  </div>

  <h4 ng-if="!retros.length">
    No Retrospectives - schedule one below!
  </h4>


  <form name="new-retro" ng-submit="retroCtrl.addRetro()" role="form">
    <fieldset>
      <div class="row">
        <div class="large-5 columns">
          <label>Enter a label for your retrospective</label>
          <input type="text" class="" ng-model="newRetro.label" placeholder="Iteration Retrospective" required/>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label>Date of retrospective</label>
          <input type="date" ng-model="newRetro.start" required min={{minDate}} />
        </div>
      </div>
      <div class="row">
        <div class="large-1 columns">
          <button id="new-retro-submit" type="submit" class="small button">Create</button>
        </div>
      </div>
    </fieldset>


  </form>

</div>

